.layoutContainer {
  height: 100vh;
  width: 100%;
}
.content {
  height: 100%;
  width: 100%;

  nav {
    height: 72px;
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-left:20px solid #C42121;
    border-right:20px solid #C42121;

    padding-left: 128px;
    padding-right: 128px;

    z-index: 900;

    a{
      color: white;
      z-index: 900;
    }

    img {
      height: 100%;
      cursor: pointer;
    }
  }
  main {
    flex: 1;
    min-height: calc(100% - 80px);
    padding:32px;
    position: relative;
    
    
    
  }
}
.left{
  animation: slide-left 2s ease-in-out 500ms;
}
.right {
  animation: slide-right 2s ease-in-out 500ms;

}

.background{
  position: absolute;
  left: 0;
  top:0;
  height: 100vh;
  width: 100%;
opacity: 0.6;
object-fit: cover;
z-index: -1;

}

@keyframes slide-left {
  from {
    transform: translateX(0);

  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slide-right {
  from {
    transform: translateX(0);

  }
  to {
    transform: translateX(100%);
  }
}