.layoutContainer {
  height: 100vh;
  width: 100%;
}
.content {
  height: 100%;
  width: 100%;

  nav {
    height: 72px;
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-left:20px solid #C42121;
    border-right:20px solid #C42121;

    padding-left: 128px;
    padding-right: 128px;

    z-index: 200;

    a{
      color: white;
    }

    img {
      height: 100%;
      cursor: pointer;
    }
  }
  main {
    flex: 1;
    min-height: calc(100% - 80px);
    padding:32px;
    
    background:transparent  url('/images/background.png') 0% 0% no-repeat padding-box;
    background-position: center;
    background-size: cover;
    
  }
}
.left{
  animation: slide-left 2s ease-in-out 500ms;
}
.right {
  animation: slide-right 2s ease-in-out 500ms;

}

@keyframes slide-left {
  from {
    transform: translateX(0);

  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slide-right {
  from {
    transform: translateX(0);

  }
  to {
    transform: translateX(100%);
  }
}