.layoutContainer {
  height: 100vh;
  width: 100%;
}
.content {
  height: 100%;
  width: 100%;

  nav {
    height: 75px;
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-left:20px solid red;
    border-right:20px solid red;

    padding-left: 64px;
    padding-right: 64px;

    z-index: 200;

    a{
      color: white;
      font-weight: bold;
    }

    img {
      height: 100%;
      cursor: pointer;
    }
  }
  main {
    flex: 1;
    height: calc(100% - 80px);
    padding:32px;
    
  }
}
.left{
  animation: slide-left 2s ease-in-out 500ms;
}
.right {
  animation: slide-right 2s ease-in-out 500ms;

}

@keyframes slide-left {
  from {
    transform: translateX(0);

  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slide-right {
  from {
    transform: translateX(0);

  }
  to {
    transform: translateX(100%);
  }
}